<nav>
    <a href="/">Home</a>
    <% if(user) { %>
      <ul>
        <li> <a href="/users/<%=user._id%>/foods">View my Journal</a></li>
          <li><a href="/users">Traders</a></li>
            <li><a href="/auth/sign-out">Sign Out</a></li>
    <% } else { %>
      <li><a href="/auth/sign-in">Sign In</a></li>
      <li><a href="/auth/sign-up">Sign Up</a></li>
    <% } %>
  </ul>
  </nav>

  <!-- <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav> -->
  