<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A Trading Journal</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>
    <!-- new item link pointing to new route  -->
    <a href="/users/id:/foods">New entry post trade</a>
    <h1>Welcome to A Trading Journal</h1>
    <a href="/users/id:/foods">Track your trades for strategy optimization.</a>
  </body>
</html>
