<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A New Journal Entry</title>
</head>
<body>
    <form action="/users/<%= user._id %>/entries" method="POST">
        <label for="name">Trade:</label>
        <input type="text" name="name" id="name" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
