/* Your CSS styles here */
/* style.css */

body {
    font-family: 'Roboto', sans-serif; 
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  h1, h2, h3 {
    font-weight: bold;
    color: #fff;
    text-align: center;
  }
  
  p {
    color: #ccc;
    line-height: 1.5;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }

 
  
  
  nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #333; 
    padding: 10px; 
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
   
  nav ul li a:hover {
    color: rgb(0, 255, 4);
  }
  